.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: radial-gradient(94.12% 94.12% at 51.76% 0%, #8504EA 0%, rgba(66, 0, 255, 0) 100%),
                radial-gradient(81.74% 279.79% at 96.64% 90.57%, #CA6821 0%, rgba(186, 5, 202, 0) 100%),
                radial-gradient(63.69% 245.54% at 12.6% 84.38%, #1C00A4 0%, rgba(83, 51, 237, 0) 100%),
                #000588;
    background-size: cover;
    overflow: hidden;
    gap: 24px;
    background-repeat: no-repeat;
}

/* 타이포그래피 */
.Hello_Text {
    color: #FAF9F0;
    font-weight: 450;
    font-size: 40px;
    line-height: 80px;
    font-family: 'Fira Code';
    text-align: center;
    font-style: normal;
}

.Name_Text {
    margin-bottom: 50px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 80px;
    font-family: 'Inter';
}

.Portfolio_Text {
    margin-bottom: 50px; /* 텍스트와 버튼 사이 간격 조정 */
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 40px;
    line-height: 48px; /* 줄 높이 증가 */
    font-family: 'Inter';
    text-align: center;
}

/* 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 버튼 스타일 */
.custom-btn {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
                7px 7px 20px 0px rgba(0,0,0,.1),
                4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}




/* 버튼 3 */
.btn-3 {
    width: 160px; /* 크기 조정 */
    height: 50px; /* 크기 조정 */ 
    padding: 0;
    border: none;
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgb(232, 232, 232) 0%, rgba(93, 93, 93, 0.072) 100%);
    line-height: 50px; /* 버튼 내 텍스트 수직 정렬 */
}

.btn-3 span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(2,126,251,1);
    content: "";
    transition: all 0.3s ease;
}

.btn-3:before {
    width: 2px;
    height: 0%;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(2,126,251,1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(2,126,251,1);
    content: "";
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}



/* ----------------------------------------------
 * Generated by Animista on 2023-5-26 3:23:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-tr {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}

@keyframes text-shadow-pop-tr {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        text-shadow: 1px -1px #555555, 2px -2px #555555, 3px -3px #555555, 4px -4px #555555, 5px -5px #555555, 6px -6px #555555, 7px -7px #555555, 8px -8px #555555;
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}

.text-shadow-pop-tr {
	-webkit-animation: text-shadow-pop-tr 0.6s both;
	animation: text-shadow-pop-tr 0.6s both;
}

